<ion-footer [translucent]="true">
  <ion-toolbar class="gradient-background">
    <ion-buttons slot="start" class="navbar-buttons">

      <ion-button href="/pokemon-list" fill="clear" class="nav-button">
        <div class="nav-content">
          <ion-icon name="list-outline"></ion-icon>
          <span class="nav-text active-color">Pokémon</span>
        </div>
      </ion-button>

      <ion-button href="/favorites" fill="clear" class="nav-button">
        <div class="nav-content">
          <ion-icon name="heart-outline"></ion-icon>
          <span class="nav-text font-primary active-color">Favorites</span>
        </div>
      </ion-button>

      <ion-button href="/minigame" fill="clear" class="nav-button">
        <div class="nav-content">
          <ion-icon name="person-outline"></ion-icon>
          <span class="nav-text active-color">Play</span>
        </div>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-footer>