.info-item {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin: 8px 0px;
}

.pokemon-image {
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
}

.pokemon-image img {
    width: 90%;
    height: 90%;
    object-fit: contain;
}


.pokemon-types {
    display: flex;
    gap: 8px;
    margin-top: 4px;
    margin-left: auto;
}

.pokemon-text {
    font-size: 22px;
}

.header-column {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header-title {
    font-size: 20px;
    font-weight: bold;
    align-self: center;
    margin-top: 16px;
}

.pill-search {
    text-align: left;
    border-radius: 50px;
}

ion-toolbar {
    border-bottom: 4px solid transparent;
    border-image: linear-gradient(to right, #729ef8, #59e162) 1;
}

.pill-search {
  color: #000;
  border-radius: 999px;
  box-shadow: none;
  text-align: left;
}
