<ion-header [translucent]="true">
  <ion-toolbar class="gradient-background">
    <div class="header-column">
      <ion-text class="font-secondary active-color header-title">
        Pokemon
      </ion-text>

      <ion-searchbar class="pill-search font-secondary" placeholder="Search" show-clear-button="never" inputmode="search">
      </ion-searchbar>
    </div>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  <ion-list>
    @for (p of pokemons; track p.url) {
    <ion-item>
      <div class="pokemon-image">
        <img [src]="getOfficialArtworkUrl(p.id)" [alt]="p.name" loading="lazy" />
      </div>

      <div class="info-item">
        <ion-label class="font-primary pokemon-text">
          {{ p.name | titlecase }}
        </ion-label>

        <ion-note class="font-primary pokemon-text">
          {{ formatId3(p.id) }}
        </ion-note>
      </div>

      <div class="pokemon-types">
        @for (t of p.types; track t) {
        <img class="type-icon" [src]="getTypeIconUrl(t)" [alt]="t" />
        }
      </div>
    </ion-item>
    }
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)" threshold="100px" [disabled]="allLoaded">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando más..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<app-navbar></app-navbar>