<ion-header [translucent]="true">
  <ion-toolbar class="gradient-background">
    <div class="header-column">
      <ion-text class="font-secondary active-color header-title">
        Pokemon
      </ion-text>

      <ion-searchbar class="pill-search font-secondary" placeholder="Search" show-clear-button="never"
        inputmode="search">
      </ion-searchbar>
    </div>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  <ion-list>
    @for (p of pokemons; track p.url) {
    <ion-item (click)="showDetail(true, p)">
      <div class="pokemon-image">
        <img [src]="getOfficialArtworkUrl(p.id)" [alt]="p.name" loading="lazy" />
      </div>

      <div class="info-item">
        <ion-label class="font-primary pokemon-text">
          {{ p.name | titlecase }}
        </ion-label>

        <ion-note class="font-primary pokemon-text">
          {{ formatId3(p.id) }}
        </ion-note>
      </div>

      <div class="pokemon-types">
        @for (t of p.types; track t) {
        <img class="type-icon" [src]="getTypeIconUrl(t)" [alt]="t" />
        }
      </div>
    </ion-item>
    }
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)" threshold="100px" [disabled]="allLoaded">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>


  <ion-modal [isOpen]="isDetailOpen" cssClass="pokemon-detail-modal">
    <ng-template>
      <ion-content class="detail-bg">

        <!-- Header flotante -->
        <ion-toolbar class="detail-toolbar">
          <ion-buttons slot="start">
            <ion-button fill="clear" (click)="showDetail(false)">Back</ion-button>
          </ion-buttons>
        </ion-toolbar>

        <!-- Imagen -->
        <div class="artwork-wrap">
          <ion-img class="artwork" [src]="getOfficialArtworkUrl(pokemonSelected?.id || 0)"></ion-img>
        </div>

        <!-- Card blanca -->
        <div class="sheet">

          <ion-text class="font-secondary name">
            {{ pokemonSelected?.name | titlecase }}
          </ion-text>

          <!-- Tipo -->
          <!-- <div class="type-row">
            <ion-chip color="dark">
              <ion-label>{{ pokemonSelected?.types?.[0] | uppercase }}</ion-label>
            </ion-chip>
          </div> -->
          <div class="pokemon-types">
            @for (t of pokemonSelected?.types; track t) {
            <img class="type-icon" [src]="getTypeIconUrl(t)" [alt]="t" />
            }
          </div>

          <!-- Descripcion -->
          <ion-text class="desc font-secondary">
            <!-- {{ pokemonSelected?.description }} -->
            A strange seed was planted on its back at birth. The plant sprouts and grows with this Pokémon.
          </ion-text>

          <!-- Tabs -->
          <ion-segment value="stats">
            <ion-segment-button value="stats">
              <ion-label>STATS</ion-label>
            </ion-segment-button>
            <ion-segment-button value="evo">
              <ion-label>EVOLUTIONS</ion-label>
            </ion-segment-button>
            <ion-segment-button value="moves">
              <ion-label>MOVES</ion-label>
            </ion-segment-button>
          </ion-segment>

          <!-- Stats -->
          <ion-list lines="none" class="stats-list">
            <ion-item>
              <ion-label>HP</ion-label>
              <ion-note slot="end">160</ion-note>
              <ion-progress-bar [value]="160 / 200"></ion-progress-bar>
            </ion-item>

            <ion-item>
              <ion-label>ATK</ion-label>
              <ion-note slot="end">160</ion-note>
              <ion-progress-bar [value]="160 / 200"></ion-progress-bar>
            </ion-item>

            <ion-item>
              <ion-label>DEF</ion-label>
              <ion-note slot="end">160</ion-note>
              <ion-progress-bar [value]="160 / 200"></ion-progress-bar>
            </ion-item>

            <ion-item>
              <ion-label>SATK</ion-label>
              <ion-note slot="end">160</ion-note>
              <ion-progress-bar [value]="160 / 200"></ion-progress-bar>
            </ion-item>

            <ion-item>
              <ion-label>SDEF</ion-label>
              <ion-note slot="end">160</ion-note>
              <ion-progress-bar [value]="160 / 200"></ion-progress-bar>
            </ion-item>

            <ion-item>
              <ion-label>SPD</ion-label>
              <ion-note slot="end">160</ion-note>
              <ion-progress-bar [value]="160 / 200"></ion-progress-bar>
            </ion-item>
          </ion-list>

        </div>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>

<app-navbar></app-navbar>